* {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Russo One', sans-serif;
	text-decoration: none;
}

body {
	width: 1190px;
	min-height: 300px;
	background-color: #182633;
	padding: 10px;
	display: block;
}

.item {
	width: 385px;
	height: 150px;
	background-color: #2e2e2e;
	display: inline-block;
	border-radius: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	align-items: top;
}

.item-data {
	display: inline-block;
	/* position: relative; */
}

.item-pic {
	height: inherit;
	width: 30%;
	border-radius: 6px;
  object-fit: cover;
}

.item-about {
	/* margin-left: 5%; */
	vertical-align: top;
	width: 70%;
	height: inherit;
	color: #6c8499;
}

.item-title {
	margin-top: 10px;
	font-size: 20px;
	text-align: left;
	margin-left: 10%;
	color: #fff;
	max-height: 30px;
}

.item-cost-container {
	margin-top: 22%;
	margin-left: 27%;
	/* width: 70%; */
	/* height: 40px; */
	width: 165px;
	padding: 12px 10px;
	background-color: #212121;
	border-radius: 12px;
	padding: 0 15px 0;
	box-sizing: border-box;
	height: 30px;
}

.item-cost {
	text-align: center;
	font-size: 18px;
	color: #e7e8ea;
	line-height: 30px;
}

.old-cost {
	text-decoration: line-through;
	text-decoration-color: #fff;
	text-decoration-thickness: 150;
	color: #aaa;
	font-size: 14px;
	text-align: left;
	position: absolute;
}

.item-discount {
	position: static;
	font-size: 20px;
	text-align: right;
	color: #fff;
	line-height: 33px;
}