* {
  margin: 0;
  padding: 0;
	font-family: 'Russo One', sans-serif;
}

body {
  width: 1280px;
  height: 720px;
	background-color: #2e2e2e;
	font-family: 'Russo One', sans-serif;
}

.item {
	display: block;
}

.item-data {
	display: inline-block;
	/* position: relative; */
	width: 50%;
	height: inherit;
	vertical-align: top;
}

.item-image {
	height: 720px;
	width: 540px;
	border-radius: 45px;
  object-fit: cover;
  box-shadow: 10px 10px 5px -6px rgba(5,5,5,1);
}

.item-info {
	display: block;
	width: 710px;
	height: 720px;
	color: #2e2e2e;
	position: absolute;
}

.item-title {
	margin: 5% auto;
	font-size: 46px;
	text-align: center;
	color: #fff;
	max-height: 30px;
}

.item-description {
	display: block;
	font-size: 29px;
	margin-left: 5%;
	/*color: #bbb;*/
	text-align: justify;
	color: #fff;
}

.item-cost-container {
	/*margin: 30px 0 0 40px;*/
	top: 610px;
	left: 50%;
	/* width: 550px; */
	height: 80px;
	padding: 5px 10px;
	background-color: #212121;
	border-radius: 12px;
	box-sizing: border-box;
	position: relative;
	width: 340px;
	box-shadow: 10px 10px 5px -6px rgba(5,5,5,1);
}

.item-cost {
	text-align: center;
	font-size: 48px;
	color: #e7e8ea;
	line-height: 75px;
}

.old-cost {
	text-decoration: line-through;
	text-decoration-color: #fff;
	text-decoration-thickness: 250;
	color: #aaa;
	font-size: 33px;
	text-align: left;
	position: absolute;
}

.item-discount {
	position: static;
	font-size: 48px;
	text-align: right;
	color: #fff;
	line-height: 75px;
}